// 进入
.pop-enter-active {
    transition: all .25s ease-in-out;
}

.pop-leave-active {
    transition: all .35s linear;
}

.pop-enter-from {
    transform: translateY(25px);
    opacity: 0;
}

.pop-leave-to {
    opacity: 0;
}



//出现时弹出
.pop-enter-active,
.pop-leave-active {
    transition: all 0.5s ease-in-out;
}

.pop-enter-from,
.pop-leave-to {
    transform: translateY(80px);
}

// 进入离开
.slide-fade-enter-active {
    transition: all 0.5s ease;
}

.slide-fade-leave-active {
    transition: all 0.3s cubic-bezier(0.5, 0.3, 0.2, 0.5);
}

.slide-fade-enter,
.slide-fade-leave-to {
    opacity: 0;
    transform: translateY(30px);
}