/*el-loading style*/
.el-loading-mask {
    background-color: #ffffff;
}

.el-loading-spinner .path {
    stroke: #4a4a4a;
}

.el-loading-spinner .el-loading-text {
    color: #4a4a4a;
}

.el-dropdown-menu__item .el-icon-user {
    margin-right: 2px;
}

/* 分页 */
.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
    background-color: pink !important;
    cursor: pointer;
}

.el-pagination {
    --el-pagination-hover-color: pink !important;
}