/* el-loading */
.el-loading-mask {
    background-color: #ffffff;
}

.el-loading-spinner .path {
    stroke: #4a4a4a;
}

.el-loading-spinner .el-loading-text {
    color: #4a4a4a;
}

.el-dropdown-menu__item .el-icon-user {
    margin-right: 2px;
}

/* el-pagination */
.el-pagination.is-background .el-pager li:not(.is-disabled).is-active {
    background-color: pink !important;
    cursor: pointer;
}

.el-pagination {
    --el-pagination-hover-color: pink !important;
}

/* el-dropdown */
.el-dropdown-menu__item:not(.is-disabled) {
    color: rgb(248, 103, 103);
}

.el-dropdown-menu__item:not(.is-disabled):focus {
    background-color: rgb(254, 236, 239);
    color: rgb(248, 103, 103);
}

/* el-slider */
.el-slider__bar {
    background-color: #F08080 !important;
}

.el-slider__button {
    border: 2px solid #F08080 !important;
    width: 17px;
    height: 17px;
}