@font-face {
    font-family: "iconfont";
    /* Project id 3613962 */
    src: url('//at.alicdn.com/t/c/font_3613962_b1uswsfbsqh.woff2?t=1665584311109') format('woff2'),
        url('//at.alicdn.com/t/c/font_3613962_b1uswsfbsqh.woff?t=1665584311109') format('woff'),
        url('//at.alicdn.com/t/c/font_3613962_b1uswsfbsqh.ttf?t=1665584311109') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon_huangguan2:before {
    content: "\e62e";
}

.icon-xiangxia:before {
    content: "\e600";
}

.icon-huangguan:before {
    content: "\e62d";
}

.icon-geciweidianji:before {
    content: "\e727";
}

.icon-cibiaoquanyi:before {
    content: "\e671";
}

.icon-chaxun:before {
    content: "\e606";
}

.icon-bofang:before {
    content: "\e607";
}

.icon-danquxunhuan:before {
    content: "\e608";
}

.icon-changpian:before {
    content: "\e609";
}

.icon-erji:before {
    content: "\e60a";
}

.icon-huatong:before {
    content: "\e60b";
}

.icon-jianshao:before {
    content: "\e60c";
}

.icon-jingyin:before {
    content: "\e60d";
}

.icon-liebiaoxunhuan:before {
    content: "\e60e";
}

.icon-shanchu:before {
    content: "\e60f";
}

.icon-shengyin:before {
    content: "\e610";
}

.icon-kuaitui:before {
    content: "\e611";
}

.icon-suiji:before {
    content: "\e612";
}

.icon-xiai:before {
    content: "\e613";
}

.icon-zanting:before {
    content: "\e614";
}

.icon-zhongzhi:before {
    content: "\e615";
}

.icon-jinzhi:before {
    content: "\e616";
}

.icon-liebiao:before {
    content: "\e617";
}

.icon-shezhi:before {
    content: "\e618";
}

.icon-shuaxin:before {
    content: "\e619";
}

.icon-zengjia:before {
    content: "\e61a";
}

.icon-kuaijin:before {
    content: "\e61b";
}

.icon-yinle:before {
    content: "\e61c";
}

.icon-pinghengqi:before {
    content: "\e61d";
}

.icon-shangyitiao:before {
    content: "\e61e";
}

.icon-xiayitiao:before {
    content: "\e61f";
}

.icon-qiyong:before {
    content: "\e63a";
}

.icon-nan:before {
    content: "\e682";
}

.icon-nv:before {
    content: "\e683";
}

.icon-pinglun:before {
    content: "\e684";
}

.icon-shangchuan:before {
    content: "\e685";
}

.icon-shuaxin1:before {
    content: "\e686";
}

.icon-sousuo:before {
    content: "\e687";
}

.icon-xiaoxizhongxin:before {
    content: "\e688";
}

.icon-wodeguanzhu:before {
    content: "\e689";
}

.icon-youjiantou:before {
    content: "\e68a";
}

.icon-zuojiantou:before {
    content: "\e68b";
}

.icon-zengjia1:before {
    content: "\e68c";
}

.icon-fuzhi-01:before {
    content: "\e620";
}

.icon-dianzan-shixin:before {
    content: "\e621";
}

.icon-dianzan-xiankuang:before {
    content: "\e622";
}

.icon-sousuo1:before {
    content: "\e623";
}

.icon-pinglun1:before {
    content: "\e624";
}

.icon-zanting1:before {
    content: "\e625";
}

.icon-bofang1:before {
    content: "\e626";
}

.icon-jingyin1:before {
    content: "\e627";
}

.icon-shangyiji:before {
    content: "\e628";
}

.icon-xiayiji:before {
    content: "\e629";
}

.icon-yinliang:before {
    content: "\e62a";
}

.icon-User:before {
    content: "\e62b";
}

.icon-Headset:before {
    content: "\e62c";
}