* {
    margin: 0px;
    padding: 0px;
}

/* 子模块的盒子全部用这个样式 */
.container {
    width: 1240px;
    height: auto;
    margin: 0 auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}