@import "./flex.css";
@import "./router.css";
@import "./element-plus.css";

:root {
    --main-margin: 10px 15px;
    --max-width:1240px;
}
* {
    margin: 0px;
    padding: 0px
}

i {
    font-style: normal
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


html,
body {
    width: 100vw;
    overflow-y: auto !important;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

::-webkit-scrollbar-thumb:active {
    background: #999;
}

/* 子模块的盒子全部用这个样式 */
.container {
    width: var(--max-width);
    height: auto;
    margin: 0 auto;
}

.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}