* {
    margin: 0px;
    padding: 0px;
}

/* 子模块的盒子全部用这个样式 */


.container {
    width: 1240px;
    height: auto;
    margin: 0 auto;
}

/* flex 简写 */

.flex-layout {
    display: flex;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-acenter {
    display: flex;
    align-items: center;
}

.flex-jcenter {
    display: flex;
    justify-content: center;
}


.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-shrink {
    flex-shrink: 0;
}

.flex-grow-1 {
    flex-grow: 1;
}

.flex-grow-2 {
    flex-grow: 2;
}

.flex-grow-3 {
    flex-grow: 3;
}

.flex-grow-4 {
    flex-grow: 4;
}

.flex-wrap {
    flex-wrap: nowrap;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 解决打开拟态框,关闭拟态框的抖动问题。 */
body {
    overflow-y: auto !important;
    padding-right: 0 !important;
}

.text-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ::-webkit-scrollbar 滚动条整体部分，可以设置宽度啥的

::-webkit-scrollbar-button 滚动条两端的按钮

::-webkit-scrollbar-track 外层轨道

::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分(除去)

::-webkit-scrollbar-thumb 滚动条里面可以拖动的那个

::-webkit-scrollbar-corner 边角

::-webkit-resizer 定义右下角拖动块的样式 */