<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <div onmousemove="move()" style="width: 500px;height:500px;background-color: red;">你好</div>
</body>
<style>
    
</style>
<script>
    function move () {
     const divD = document.getElementsByTagName('div')[0]
     divD.setAttribute('class','hhhh')
    //  divD.className = 'czw'
    console.dir(divD)
    }
</script>
</html>